<div class="content" role="main">
  <section>
    <div class="card-head">
      <h1 class="card-title">Catagory</h1>
      <h3 class="card-subtitle">Please provide some basic details about your company.</h3>
    </div>
  </section>

  <section>

      <div class="card-box-header">
        <h2 class="card-box-title">Applicable Socio-economic Catagories</h2>
        <h3 class="card-subtitle">Select all that apply</h3>
      </div>

        <div class="cards-box">
        
          <div class="card-container">

              <div class="card" target="_blank" rel="noopener" href="">
                <input class="box-card-input" type="checkbox" id="box-card" />
                <label class="box-card-title" for="box-card">
                  Women-Owned Small Businesses
                </label>
              </div>


              <div class="card" target="_blank" rel="noopener" href="">
                <input class="box-card-input" type="checkbox" id="box-card" />
                <label class="box-card-title" for="box-card">
                  Historically Underutilized Business (hubz)
                </label>
              </div>



              <div class="card" target="_blank" rel="noopener" href="">
                <input class="box-card-input" type="checkbox" id="box-card" />
                <label class="box-card-title" for="box-card">
                  Indian Economic Enterprise
                </label>
              </div>

          </div>

          <div class="card-container">

            <div class="card" target="_blank" rel="noopener" href="">
              <input class="box-card-input" type="checkbox" id="box-card" />
              <label class="box-card-title" for="box-card">
                8(a) Small Business
              </label>
            </div>


            <div class="card" target="_blank" rel="noopener" href="">
              <input class="box-card-input" type="checkbox" id="box-card" />
              <label class="box-card-title" for="box-card">
                Veteran-Owned Small Businesses
              </label>
            </div>



            <div class="card" target="_blank" rel="noopener" href="">
              <input class="box-card-input" type="checkbox" id="box-card" />
              <label class="box-card-title" for="box-card">
                Service-Disabled<br> Veteran-Owned <br> Business
              </label>
            </div>

        </div>
      </div>
  </section>

  <h3 class="card-title">Catagory</h3>

  <section>
    <div class="card-button">
      <button mat-button>BACK</button>
      <button mat-button>NEXT</button>
    </div>  
  </section>
</div>

  

<router-outlet></router-outlet>